<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="mb-0 mt-0">
            <center></center>
            <img src="/img/profile_1.jpg" class="img-thumbnail mx-auto d-block rounded-circle" alt="Duong Le" width="250"
                height="250">
            <!-- <figcaption class="figure-caption text-center">Duong Le</figcaption> -->

        </div>
        <div class="mb-0 mt-0">
            <h5 class="text-justify">I am Duong Le. I work on simulated and real-time on-road motion planning systems for robotics and
                autonomous driving, in particular, my expertise is in motion planning, robotic simulation, and
                programming.<br><br>

                Now I am a motion planning engineer at American Haval Motor Technology (R&D Centre of Great Wall Motor
                Company). I design, develop, and implement motion planning algorithms in simulation and physical
                deployment for edge cases, also analyze log data for root cause and improve system performance.<br><br>

                I received my Ph.D. degree in Computer Science at The Catholic University of America with <a href="http://robotmotionplanning.org/">
                    Dr. Erion
                    Plaku</a> in 2018. During my Ph.D. study, I focus on task and motion planning autonomous robotic
                system
                which enables robotic systems to safely and effectively accomplish sophisticated tasks.

            </h5>
        </div>

    </div>
    <div class="col-sm-3"></div>
</div>