<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="mb-0 mt-0">
            <center></center>
            <img src="/img/profile_1.jpg" class="img-thumbnail mx-auto d-block rounded-circle" alt="" width="250" height="250">
        </div>
        <div class="mb-0 mt-0">
            <h5 class="text-justify">I currently work as a motion planning engineer at American Haval Moto Technology
                in
                Farmington
                Hills, MI.
                My work focuses on enhancing the capability of our company autonomous driving system, including
                research,
                develop and implement motion planning algorithms (in simulation and deployment to real vehicle) for
                various
                scenarios and enviroments, also perform tasks of analyze data to assess and improve system performance.<br><br>
                In 2018, I obtained my Ph.D. degree in Computer Science at The Catholic University of America
                (Washington,
                DC) under the direction of Dr. Erion Plaku.
                My Ph.D. research focuses on task and motion planning autonomous robotic system (e.g: autonomous
                vehicle) which enable robotic systems to safely and effectively accomplish sophisticated tasks.</h5>
        </div>

    </div>
    <div class="col-sm-3"></div>
</div>